/* styles applied to the whole body */
body{
  font-size: 20px !important;
  font-family: "Open Sans", sans-serif !important;
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
}

/* container holding h1 and login-buttons */
.page-header{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-top: 1.75rem;
}

/* "Fusion Fitness" Heading -- The one Above Nav bar */
/* need to get this centered  */
h1 { 
  font-size: 3.5rem !important;
  color: rgb(249, 127, 13) !important;
  font-family: "Montserrat" !important;
  font-weight:bold !important;
  position: absolute; /* Keep position absolute */
  top: 0%; /* Move to the center vertically */
  left: 50%; /* Move to the center horizontally */
  transform: translate(-50%, -50%); /* Adjust to center */
  margin: 0; /* Add this to remove default margin */
}

/* remove the underline from the h1 a tag  */
#title-redirect{
  text-decoration: none;
}

/* login/signup button container */
.login-buttons{
  display:flex;
}

.log-in{
  background-color: yellow !important;
}

/* "Ignite Your Workout" h2 */
.ignite{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Montserrat" !important;
}

/* For the three main content sections on the page */
.grid-container {
  display:grid !important;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5rem;
  margin-left: auto; 
  margin-right: auto;
  padding: 2rem;
  text-align: center;
}

.grid-item p{
  color: #a6a6a6;
}




/* for the bootstrap footer to stay locked at the bottom of the screen 
    -- Will probably reuse this on each page */
footer {
  text-align: center;
  padding: 20px;
  
  bottom: 0;
  width: 100%;
  left: 0; 
  right: 0; 
}


.get-started-btn{
  display:flex;
  justify-content: center;
}



/* buttons on the three grid items */
.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(249, 58, 19, .32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: .24;
}

/* end grid buttons */


/* start your Journey Button styling  */
.btn {
  background-color: #00BFA6 !important;
  padding: 14px 40px !important;
  color: #fff !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  cursor: pointer !important;
  border-radius: 10px !important;
  border: 2px dashed #00BFA6 !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
  transition: .4s !important;
 }
 
 .btn span:last-child {
  display: none !important;
 }
 
 .btn:hover {
  transition: .4s !important;
  border: 2px dashed #00BFA6; !important
  background-color: #fff !important;
  color: #00BFA6 !important;
 }
 
 .btn:active {
  background-color: #87dbd0 !important;
 }
 
 